.containerTotal{
    display: flex;
    justify-content: flex-end;
    
    padding: 30px;
    display: block;
    justify-content: center;
    width: 700px;
    height: 250px;
    
 
    border-radius: 7px 7px 7px 7px;
    -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.10);
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.10); 
    background-color:rgba(240, 240, 240, 0.846);
    
}


.shippingContainer{
   
    margin-bottom: 20px;
}

.fa.cartNav {
    color: gray;
    padding: 10px;
}

.cardTotal{
    margin-top:10px;
}