.titleContainer {
    display: inline-block;
    /* background-image: url("https://www.domesticoshop.com/media/catalog/product/cache/1/image/738x/602f0fa2c1f0d1ba5e241f914e856ff9/w/a/wall_deco-cwc-gesture-wdge2201-pp-domesticoshop.jpg"); */
    /* background: url("https://images.pexels.com/photos/6627105/pexels-photo-6627105.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");  */
/* background: url("https://www.domesticoshop.com/media/catalog/product/cache/1/image/738x/602f0fa2c1f0d1ba5e241f914e856ff9/f/e/ferm-living-wallpaper-grid-black-white-p.jpg"); */
/* background: url("https://www.domesticoshop.com/media/catalog/product/cache/1/thumbnail/9df78eab33525d08d6e5fb8d27136e95/w/a/wall_deco-nori-ewc-hover-domesticoshop.jpg"); */
background: url("https://www.domesticoshop.com/media/catalog/product/cache/1/thumbnail/9df78eab33525d08d6e5fb8d27136e95/w/a/wall_deco-cwc-abstraction-wdab2201-domesticoshop.jpg");
justify-content: center;
opacity: 0.9;
    

    width: 100vw;
    height: 400px;
    gap: 40px;

}

.h2Title {
    color: rgb(17, 17, 18);
    display: flex;
    justify-content: center;
    font-size: 40px;



}

.pTitle {
    display: flex;
    justify-content: center;
    color: aliceblue;
    font-weight: 500;
    letter-spacing: 0.2em;
    padding: 100px;
   
}