.buttonDelete{
    border: none;
    margin-left: 190px;
    margin-top: 40px;
    transform: translate(0,-65px);
    color: grey;
    padding: 1px;
}

.infoProductCart {
    display: inline;
    font-size: 1.1rem;
    justify-content: center;
    margin: 20px ;
    padding: auto;
    width: 350px;
    
    
}

.imgProductCart{
    object-fit: cover;
    width: 148px;
    height: 200px;
}

.containerProductCart{
    display: flex;
    width: 400px;
    height: 200px;
    background-color: rgba(240, 240, 240, 0.846);
-webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
-moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
border-radius: 7px 7px 7px 7px;
margin: 10px 40px;
color: rgb(71, 72, 72);
}


h2{

        padding: 10px;
        color:cadetblue ;
        letter-spacing: 0.1em;
        font-family: 'Raleway', sans-serif;
} 

.buttonDeleteWish{
    border: none;
    margin-left: 190px;
    margin-top: 40px;
    transform: translate(0,-60px);
    color: grey;
}
.fa.fa-trash:before {
    color:grey;
}
.buttonDeleteWish:hover{
   color:bisque
}

.containerEmpty{
    padding: 30px;
    display: inline-block;
    justify-content: center;
    text-align: center;
    width: 500px;
    height: 500px;
    background-color: rgba(240, 240, 240, 0.846);
-webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
-moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
border-radius: 7px 7px 7px 7px;
margin: 10px 40px;
color: rgb(71, 72, 72);
 ;
}

.emptySaved{
    padding: 30px;
}
