.mainSliderContainer{
    background: url("https://images.pexels.com/photos/6627105/pexels-photo-6627105.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    width: 100vw;
    height: 700px;
    top: 0px ;
    
}
.mainSliderTitle{
display: flex;

font-weight: 550;
font-size: 39rem;
font-family: 'Raleway', sans-serif;
text-transform: uppercase;
letter-spacing: 0.2em;
color: #ffffff;
margin-top: 20px;
height: 550px;


}
.mainSliderTitleSecond{
    color: rgb(45, 45, 57);
    display: flex;
justify-content: center;
font-size: 40px;
margin-bottom: 120px;

}