
.nav-link{
    text-decoration: none !important;
}
.dropdown-toggle.nav-link{
    color:white;
}
.nav-item.show.dropdown{
    
    color:white;
}

::after {
   color: white;
}


.fa {
    color: white;
}

.brand.navbar-brand {
    color: white;
    text-decoration: none !important;
   margin-left: -200px;
   margin-right: 1100px;
}

.navbar {
    height: 50px;
    letter-spacing: 0.2em;
    background-color:rgb(149, 195, 223);
    display: flex;
    width: 100vw;
    

}


a.nav-link {
    color: white;
    font-size: 1.5rem;
    margin-right: 50px;
  

}
.me-auto{
   margin:0 100px;
}

.iconsHeader {
    
    display: flex;
    justify-content: flex-end;
    font-size: large;
    gap: 20px;
    letter-spacing: 0.2em;
    color: #5988f5c5;
    line-height:40px;
}

