header {
	width: 100%;
	margin-bottom: 20px;
	height: 45px;
	display:flex;
}

.wrapperHeader {
	display:flex;
	width: 100%;
	/* Establecemos que el ancho sera del 90% */
	max-width: 2050px;
	/* Aqui le decimos que el ancho máximo sera de 1000px */
	margin-left: 50px;
	
	overflow: hidden;
	
}

header .logo {
	
	color: #5988f5c5;
	font-size: 40px;
	line-height: 50px;
	margin-right: 100px;
	float: left;
	text-decoration: none;

}

header nav {
	justify-content: center;
	line-height: 60px;
	font-weight: 600;
	letter-spacing: 0.2em;
	margin-left: 350px;

}

header nav a {
	display: inline-block;
	color: #5988f5c5;
	text-decoration: none;
	padding: 5px 20px;
	line-height: normal;
	font-size: 20px;
	

	-webkit-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

header nav a:hover {
	background: #f1f1f5;
	border-radius: 10px;
}



i{
	font-size: 20px;
	color: #5988f5c5;
	margin-left: 15px;
	
}

.iconsContainer{
	padding: 20px;
	margin-left: 10px;
}