@import url("https://rsms.me/inter/inter.css");

:root {
    --color-gray: #737888;
    --color-lighter-gray: #e3e5ed;
    --color-light-gray: #f7f7fa;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}

@supports (font-variation-settings: normal) {
    html {
        font-family: "Inter var", sans-serif;
    }
}

body {
    margin: 0;
    background-color: white;

}

h1 {
    margin-bottom: 1rem;
}

p {
    color: var(--color-gray);
}

hr {
    height: 1px;
    width: 100%;
    background-color: var(--color-light-gray);
    border: 0;
    margin: 2rem 0;
}

.container {
    max-width: 40rem;
    padding: 4vw 2rem 0;
  

    
    
}

.form {
    display: grid;
    grid-gap: 1rem;
    display: flex;
    justify-content: flex-end;
    transform: translateY(-145px);
    padding: 40px;
    display: block;
    justify-content: center;
    width: 700px;
    height: 850px;
    background-color:rgba(240, 240, 240, 0.846);
    margin-top: 30px;
    border-radius: 7px 7px 7px 7px;
    -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    
}

.field {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-lighter-gray);
    padding: .5rem;
    border-radius: .25rem;
    margin-top: 10px;
}

.field__label {
    color: var(--color-gray);
    font-size: 0.6rem;
    font-weight: 300;
    text-transform: uppercase;
    
    
}

.field__input {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    font-weight: bold;
    font-size: 1rem;
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    
}

.field:focus-within {
    border-color: rgb(209, 109, 109);
}



.fields {
    display: grid;
    grid-gap: 1rem;
}

.fields--2 {
    grid-template-columns: 1fr 1fr;
}

.fields--3 {
    grid-template-columns: 1fr 1fr 1fr;
}

.buttonShipping {
    
        background-color: #ebd79c;
        display: inline-block;
        height: 40px;
        width: 566px;
        margin: 20px 40px 0 16px;
        box-sizing: border-box;
        border: transparent;
        border-radius: 60px;
        font-family: 'Raleway', sans-serif;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        color: #ffffff;
        background-color: #ebd79c;
        cursor: pointer;
        outline: none;
    }

    .buttonShipping:hover {
        background-color: #79b0a1;
    }





span {
    display: inline-block;
    height: 15px;
    font-family: 'Suranna', serif;
    font-size: 24px;
}