.news__container--column img {
    width: 100%;
    position: relative;
    max-width: 450px;
    max-height: 450px;
    min-height: 450px;
    object-fit: cover;
}

.news__container--column {
    width: 20%;
    height: 300px;
    float: left;
    box-sizing: border-box;
   
}

.news__container {
    margin-top: 120px;
    width: 100%;
    min-height: 800px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: "OpenSans-Light";
    
    justify-content: center;
    gap: 40px;
}
.h5News{
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 1.1rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: black;
}
.pNews{
    font-family: 'Trocchi', serif;
}

.containerInspired{
    background-color: rgb(180, 206, 223);
    /* display: flex;
    align-items: center;
    justify-content: center; */
    margin-top: 30px;
    
}
.containerInspired2{
    margin-top: 30px;
     display: flex;
    align-items: center;
    justify-content: center;
}

.containerInspiredH3{
    text-align: center;
    margin-top: 100px;
    font-family: 'Bentham', serif;
    font-size: 2rem;
}