.searchContainer{
    display: flex;
    align-items:baseline;
    line-height: normal;
    padding: 30px;
    width: 750px;
    
}

.inputSearch{
    height: 40px;
    border-radius: 5px;
    padding: 5px;
    width: 750px;
    background-color: rgba(226, 192, 91, 0.252);
    border-width: thin;
    border: none;
    outline: none;

}

.buttonSearch{
    height: 40px;
    width: 65px;
    margin-left: 5px;
    margin-top: 15px;
}