@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
    font-family: "Roboto", sans-serif;
    height: 100vh;
    
}

.loginContainer {
    display: block;
    /* width: 100vw;
	height: 100vh; */
    background: #f3e0e2;
    display: grid;
    place-content:center;
    height: 2000px;

}

.wrapper {

   
    justify-content: center;
    position: absolute;
    margin-left: 5px;
    margin-top: 10px;
    float: right;
    width: 35rem;
    padding: 2.1rem 2rem;
    border-radius: 0.7rem;
    display: flex;
    flex-direction: column;
    background: #fff;
    justify-items: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 19px 38px, rgba(0, 0, 0, 0.1) 0px 5px 5px;
}

.wrapper .heading h1 {
    font-weight: 700;
    font-size: 2rem;
}

.wrapper .social {
    padding: 2rem;

}

p {
    margin-bottom: 10px;
}

.wrapper .social .social-links {
    text-decoration: none;
    color: rgb(135, 172, 228);
    font-size: 1.3rem;
}

.wrapper .social .social-links>.fa-brands {
    border: 1px solid #e4e4e4;
    display: inline-block;
    border-radius: 60px;
    padding: 0.5em 0.6em;
    margin-left: 0.5rem;
    transition: all 0.5s ease;


}

.wrapper .social .social-links>.fa-brands:hover {
    background: rgb(45, 86, 248);
    color: #fff;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.form-group p {
    font-size: 0.9rem;
    opacity: 0.9;
    color: #212121;
    margin-bottom: 0.6rem;
}

.form-group>input {
    padding: 0.7rem 0.1rem;
    margin-bottom: 0.9rem;
    border: none;
    width: 100%;
}

.form-group>input:focus {
    background: #eee;
}

.form-group> ::placeholder {
    background: #eeeeee;
    padding: 0.7rem 0.2rem;
    text-transform: capitalize;
}

.btn {
    font-size: 0.9rem;
    text-decoration: none;
}

.btn-forget {
    color: #212121;
    margin-bottom: 1rem;
}

.btn-primary {
    background: #BD9F69;
    padding: 0.6rem 2.4rem;
    text-transform: uppercase;
    color: #fff;
    border-radius: 2rem;
    font-weight: 700;
    border: 1px solid #9c8960;
    transition: all 200ms linear;
}

.btn-primary:hover {
    background: #fff;
    color: #559ee3;
    border: 1px solid #1465d5;
}